 * {
   margin: 0;
   max-height: 188vh;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Lucida Sans', "Sofadi One", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }